<h1>Time Log</h1>

<form action="/log" method="post">
  <fieldset>
    <h1>Add Entry:</h1>
    <fieldset>
      <label for="date">Date</label>
      <input type="date" id="today" name="date" min="2015-01-01" />
    </fieldset>
    <fieldset>
      <label for="course">Course</label>
      <input list="courses" id="course" name="course" placeholder="Select or Type Course" />
      <datalist id="courses">
        <!--Iterate through the course table instead-->
        <option value="LS95" />
        <option value="RB100" />
        <option value="JS100" />
        <option value="RB101" />
        <option value="RB109" />
        <option value="JS101" />
        <option value="JS109" />
        <option value="RB120" />
        <option value="RB129" />
        <option value="JS120" />
        <option value="JS129" />
        <option value="RB130" />
        <option value="RB139" />
        <option value="JS130" />
        <option value="JS139" />
        <option value="LS170" />
        <option value="LS171" />
        <option value="RB175" />
        <option value="JS175" />
        <option value="LS180" />
        <option value="LS181" />
        <option value="RB185" />
        <option value="JS185" />
        <option value="Optional Project" />
        <option value="RB189" />
        <option value="JS189" />
        <option value="LS202" />
        <option value="JS210" />
        <option value="JS211" />
        <option value="LS215" />
        <option value="LS216" />
        <option value="JS225" />
        <option value="JS229" />
        <option value="JS230" />
        <option value="JS239" />
        <option value="RB299" />
      </datalist>
    </fieldset>
    <fieldset>
      <label for="lesson">Lesson</label>
      <input type="text" id="lesson" name="lesson" />
    </fieldset>
    <fieldset>
      <label for="hours">Hours</label>
      <input type="number" id="hours" name="hours" min="0" max="24" />
    </fieldset>
    <fieldset>
      <label for="minutes">Minutes</label>
      <input type="number" id="minutes" name="minutes" min="0" max="59" />
    </fieldset>
    <fieldset>
      <label for="notes">Notes</label>
      <input type="text" id="notes" name="notes" />
    </fieldset>
    <fieldset>
      <input type="submit" value="Add New Entry" />
    </fieldset>
  </fieldset>
</form>

<p><%= @parameters %></p>
<% @log.each do |entry| %>
  <form action="/log/edit" method="post" id="<%= entry[:id] %>">
    <input type="hidden" name="log_id" value="<%= entry[:id] %>" />
    <input type="submit" hidden />
  </form>
<% end %>

<table class="full-width large-text">
  <thead>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Lesson</th>
      <th>Study Time</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @log.each do |entry| %>
      <tr>
        <td><input type="text" name="date" form="<%= entry[:id] %>" value="<%= entry[:date] %>" /></td>
        <td><input type="text" name="course" form="<%= entry[:id] %>" value="<%= entry[:course] %>" /></td>
        <td><input type="text" name="lesson" form="<%= entry[:id] %>" value="<%= entry[:lesson] %>" /></td>
        <td><input type="text" name="duration" form="<%= entry[:id] %>" value="<%= entry[:duration] %>" /></td>
        <td><input type="text" name="notes" form="<%= entry[:id] %>" value="<%= entry[:notes] %>" /></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="pagination">
  <span class="prev"><a href="?page=<%= previous_page %>">Previous</a></span>
  <% paginate.each do |page_number| %>
    <% if page_number == @current_page %>
      <span class="page current">
        <a href="?page=<%= page_number %>"><strong><%= page_number %></strong></a>
      </span>
    <% else %>
      <span class="page">
        <a href="?page=<%= page_number %>"><%= page_number %></a>
      </span>
    <% end %>
  <% end %>
  <span class="next"><a href="?page=<%= next_page %>">Next</a></span>
</nav>