<h1>Reports</h1>
<center>
  <h1> <%= @title %> </h1>
  <p><%= @data %></p>
  <p>
    <%= column_chart(@data) %>
  </p>
</center>

<%= bar_chart(@data_2) %>
<%= column_chart @data2, stacked:true %>
<%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
<%= line_chart({"2021-01-01" => 2, "2021-01-02" => 3}) %>
<%= line_chart [["2021-01-01", 6], ["2021-01-02", 9]] %>

    